:root {
    --color-red: hsl(14, 86%, 42%);
    --color-green: hsl(159, 69%, 38%);
    --color-rose-50: hsl(20, 50%, 98%);
    --color-rose-100: hsl(13, 31%, 94%);
    --color-rose-300: hsl(14, 25%, 72%);
    --color-rose-400: hsl(7, 20%, 60%);
    --color-rose-500: hsl(12, 20%, 44%);
    --color-rose-900: hsl(14, 65%, 9%);
    font-size: 16px;
    height: 100vh;
}

body {
    background-color: var(--color-rose-50);
    font-family: "Red Hat Text", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


img {
    border-radius: 0.4em;
}

h1 {
    color: var(--color-rose-900);
    align-self: flex-start;
}

h2 {
    color: var(--color-red);
}

h3 {
    color: var(--color-rose-900);
    margin-top: 0em;
}

h4 {
    color: var(--color-red);
    margin-top: -0.5em;
    margin-bottom: 2em;
}

h4::before {
    content: "$";

}

h5 {
    order: -1;
    color: var(--color-rose-500);
    margin-bottom: 0.5em;
    margin-top: -1em;
}

section {
    display: flex;
    justify-content: flex-start;

    flex-direction: column;
}

.cart {
    order: -2;
    position: relative;
    top: -2em;
    background-color: white;
    align-self: center;
    width: fit-content;
    display: flex;
    justify-content: center;
    border: 0.1em solid var(--color-rose-400);
    border-radius: 1.5em;
    margin: 0;
    padding: 1em 1.5em 1em 1.5em;
}

.cart>img {
    padding-right: 0.7em;
}

.items {
    font-weight: 900;
    color: var(--color-rose-500);
}

#info {
    background-color: white;
    padding: 1em;
}

#pedido {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    padding: 0;
}

li {
    border: 1px solid #ccc;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon-remove {
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 2px;
    width: 1em;
    margin-left: 2em;
}

.cantidade {
    color: var(--color-red);
}

.cantidade::after {
    content: "x\00a0\00a0\00a0\00a0";
}

.dessert {
    color: var(--color-rose-900);
}

.prezo {
    color: var(--color-rose-500);
    font-weight: 300;
}

.subtotal {
    color: var(--color-rose-500);
    padding-right:1em;
}

.prezo::after,
.subtotal::after,
#total-xeral::after,
#total-modal::after {
    content: "\00a0€";
}

#total-xeral {
    font-size: 2em;
}

.subtotal::before {
    content: "\00a0\00a0\00a0\00a0";
}

#total,
.total-final-modal, .subtot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#carbon {
    text-align: center;
    background-color: var(--color-rose-50);
    border-radius: 0.5em;
    padding: 1em;
}

#btn-confirmar {
    border-radius: 2em;
    background-color: var(--color-red);
    color: var(--color-rose-100);
    text-align: center;
    border: 0;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Aparece dende abaixo ou centro */
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 2em;
    border-radius: 1em;
    width: 100%;
    max-width: 500px;
    max-height: 90%;
    overflow-y: auto;
}

#lista-resumo-final {
    background: var(--color-rose-50);
    border-radius: 0.5em;
    padding: 1em;
    list-style: none;
}

#btn-novo-pedido {
    width: 100%;
    background: var(--color-red);
    color: white;
    border: none;
    padding: 1em;
    border-radius: 2em;
    margin-top: 1.5em;
    cursor: pointer;
}
.imx-miniatura{
    width: 50px; 
    height: 50px; 
    border-radius: 5px;
    padding-left:1em;
}

.datos{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    padding-left:1em;
    width:100%;
}